.screen {
  background-color: #2d2e32;
  height: 100vh;
  width: 100%;
  color: #efefef;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  /* justify-content: space-between; */
  padding-left: 100px;
  align-items: center;
  padding-right: 100px;
  padding-top: 50px;
  z-index: 1;
}

.header span {
  z-index: 2;
}

.header__home span:first-child {
  margin-right: 5px;
  font-weight: bold;
}

.header__home:hover {
  cursor: pointer;
}

.header__links {
  flex-shrink: 1;
  flex-grow: 3;
  // width: 50%;
}

// .header__links a {
//   margin-left: 5px;
//   margin-right: 5px;
// }

.header__home {
  font-size: 20px;
  // width: 25%;
  flex-shrink: 0;
  flex-grow: 1;
}

.header__social {
  // width: 25%;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.header__social > a {
  margin-left: 15px;
  margin-right: 15px;
}

.header__social > a:not(.icon-button) > span:first-child {
  padding-right: 10px;
}

.profile__info {
  margin-top: 132px;
  margin-left: 200px;
}

.profile__motto {
  width: 480px;
  margin-top: 30px;
}

.profile__saying {
  margin-top: 30px;
  width: 400px;
}

.profile__experience {
  position: absolute;
  bottom: 42px;
  left: 150px;
  display: flex;
}

.profile__experience > span {
  display: flex;
  margin-right: 10px;
}

.profile__experience > span > span:nth-child(2) {
  width: 155px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.profile__experience > span:first-child > span:nth-child(2) {
  width: 119px;
}

.profile__picture {
  position: absolute;
  z-index: 0;
  right: 166px;
  bottom: -10px;
}

.profile__picture img {
  width: 520px;
}

.tag-container > span {
  margin: 0px 5px;
}

//nav dots
.nav-dots {
  position: fixed;
  right: -25px;
  width: 100px;
  height: auto;
  top: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-dots a {
  width: 20px;
  height: 20px;
  background-color: #25262a;
  border-radius: 50px;
  margin: 5px;
  cursor: default;
}

.nav-dots a.active {
  width: 30px;
  height: 30px;
  background-color: #64f4ac;
}

.nav-dots a:hover {
  // background-color: #64f4ac;
}

.screen--about {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.screen--about {
  background-color: #202123;
}

.bio--content {
  height: 100%;
  display: flex;
  justify-content: center;
}

.bio--content > div {
  flex: 1 1 50%;
}

.skillset {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.card {
  width: 100%;
  height: 80px;
  background-color: #29292d;
  max-width: 370px;
  margin-bottom: 7px;
  border-radius: 7px;
  padding: 35px;
  position: relative;
}

.card:hover .card__header {
  color: #64f4ac;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__header__icon {
  color: #64f4ac;
}

.card__header__title {
  font-size: 22px;
}

.card__info {
  font-size: 12px;
  margin-top: 5px;
}

.card__footer {
  position: absolute;
  bottom: 30px;
}

.card__footer .page-link {
  font-size: 12px;
}

.card:hover {
  cursor: pointer;
  background-color: #2d2e32;
  box-shadow: 2px 3px #2b2b2bb3;
}

.card:hover .card__footer .page-link {
  color: #fff;
  text-decoration: underline;
}

/*introduce*/
.introduce {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 50px;
}

.introduce__label {
  font-size: 12px;
}

.introduce > div {
  margin-bottom: 30px;
  width: 60%;
}

.introduce__greetings {
  font-size: 40px;
}

.introduce__motto {
  font-size: 20px;
  font-style: italic;
}

.introduce__story {
  font-size: 12px;
}

.bio--footer_company-logo {
  width: 100px;
  padding: 0px 20px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.2;
}

.bio--footer_company-logo:hover {
  opacity: 0.75;
}

.bio--footer {
  position: absolute;
  bottom: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}
