.screen {
  background-color: #2d2e32;
  height: 100vh;
  width: 100%;
  color: #efefef;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  /* justify-content: space-between; */
  padding-left: 100px;
  align-items: center;
  padding-right: 100px;
  padding-top: 50px;
  z-index: 1;
}

.header span {
  z-index: 2;
}

.header__home span:first-child {
  margin-right: 5px;
  font-weight: bold;
}

.header__home:hover {
  cursor: pointer;
}

.header__links {
  flex-shrink: 1;
  flex-grow: 3;
  // width: 50%;
}

// .header__links a {
//   margin-left: 5px;
//   margin-right: 5px;
// }

.header__home {
  font-size: 20px;
  // width: 25%;
  flex-shrink: 0;
  flex-grow: 1;
}

.header__social {
  // width: 25%;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.header__social > a {
  margin-left: 15px;
  margin-right: 15px;
}

.header__social > a:not(.icon-button) > span:first-child {
  padding-right: 10px;
}

.profile__info {
  margin-top: 132px;
  margin-left: 200px;
}

.profile__motto {
  width: 480px;
  margin-top: 30px;
}

.profile__saying {
  margin-top: 30px;
  width: 400px;
}

.profile__experience {
  position: absolute;
  bottom: 42px;
  left: 150px;
  display: flex;
}

.profile__experience > span {
  display: flex;
  margin-right: 10px;
}

.profile__experience > span > span:nth-child(2) {
  width: 155px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.profile__experience > span:first-child > span:nth-child(2) {
  width: 119px;
}

.profile__picture {
  position: absolute;
  z-index: 0;
  right: 166px;
  bottom: -10px;
}

.profile__picture img {
  width: 520px;
}

.tag-container > span {
  margin: 0px 5px;
}

//nav dots
.nav-dots {
  position: fixed;
  right: -25px;
  width: 100px;
  height: auto;
  top: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-dots a {
  width: 20px;
  height: 20px;
  background-color: #25262a;
  border-radius: 50px;
  margin: 5px;
  cursor: default;
}

.nav-dots a.active {
  width: 30px;
  height: 30px;
  background-color: #64f4ac;
}

.nav-dots a:hover {
  // background-color: #64f4ac;
}
