.screen {
  background-color: #2d2e32;
  height: 100vh;
  width: 100%;
  color: #efefef;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  /* justify-content: space-between; */
  padding-left: 50px;
  align-items: center;
  padding-right: 50px;
  padding-top: 50px;
  z-index: 1;
}

.header span {
  z-index: 2;
}

.header__home span:first-child {
  margin-right: 5px;
  font-weight: bold;
}

.header__links {
  flex-shrink: 1;
  flex-grow: 2;
  // width: 50%;
}

.header__links span {
  margin-left: 15px;
  margin-right: 15px;
}

.header__home {
  font-size: 20px;
  // width: 25%;
  flex-shrink: 0;
  flex-grow: 1;
}

.header__social {
  // width: 25%;
  flex-shrink: 1;
  flex-grow: 2;
}

.header__social > span {
  margin-left: 15px;
  margin-right: 15px;
}

.header__social > span > span:first-child {
  padding-right: 10px;
}

.profile__info {
  margin-top: 132px;
  margin-left: 200px;
}

.profile__motto {
  width: 480px;
  margin-top: 30px;
}

.profile__saying {
  margin-top: 30px;
  width: 400px;
}

.profile__experience {
  position: absolute;
  bottom: 42px;
  left: 150px;
  display: flex;
}

.profile__experience > span {
  display: flex;
  margin-right: 10px;
}

.profile__experience > span > span:nth-child(2) {
  width: 155px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.profile__experience > span:first-child > span:nth-child(2) {
  width: 119px;
}

.profile__picture {
  position: absolute;
  z-index: 0;
  right: 166px;
  bottom: -10px;
}

.profile__picture img {
  width: 520px;
}
