/*start of common*/
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//common classes
.big-text {
  font-size: 50px;
}

.small-text {
  font-size: 14px;
}

.alt-label {
  color: #d9d9d9;
}

.sub-label {
  color: #828282;
}

.upper-case {
  text-transform: uppercase;
}

.tag {
  color: #0b1c14;
  background-color: #64f4ac;
  font-size: 13px;
  font-weight: 500;
  width: auto;
  display: inline-block;
  padding: 3px 11px;
  border-radius: 3px;
  cursor: pointer;
}

.tag--green {
  @extend .tag;
  background-color: #84f464;
}

.tag--yellow {
  @extend .tag;
  background-color: #daf464;
}

.tag--blue {
  @extend .tag;
  background-color: #649af4;
}

.tag--red {
  @extend .tag;
  background-color: #f46464;
}

.tag--white {
  @extend .tag;
  background-color: #e0d0d0;
}

.tag--pink {
  @extend .tag;
  background-color: #f464b7;
}

.icon-button {
  position: relative;
  margin-left: 27px;
  justify-content: center;
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
}

.icon-button:hover {
  color: #64f4ac;
  background-color: #333438;
}

a:hover,
a.active {
  color: #64f4ac;
}

a:hover .sub-label {
  color: #c0f1d8;
}

a.active .arrows {
  visibility: visible;
}

a .arrows {
  visibility: hidden;
  margin-left: 10px;
  margin-right: 10px;
}

.icon-button span {
  display: flex;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-envelope {
  transform: scale(1.4, 1);
}

//scroll
body {
  height: 100vh;
  overflow: hidden;
}

.page {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.screen {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

//scrollbars
/* width */
::-webkit-scrollbar {
  width: 0px;
}
/*end of common*/
